*{
    font-family: 'Roboto', sans-serif;
}

body{
    background: url(../images/bg-repeat.jpg);
    background-size: 100% 100%;
    min-height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formulario{
    width: 40%;
    height: 90%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 33px;
}

form{
    height: 70%;
}

.formulario p{
    font-weight: bold;
    margin-top: 30px;
    font-size: 18px;
}


.input{
    border-radius: 10px;
    padding: 25px;
    margin: 10px;
    width: 100%;
}


.campo-obrigatorio{
    display: none;
    font-size: 10px;
    color: #F52E2E;
    margin-top: -10px;
}

.campo-vazio{
    display: block;
}

.vazio{
    border-color: #F52E2E;
}


.preenchido{
    border-color: #00C22B;
}



.btn-enviar{
    width: 100%;
    margin: 10px;
    padding: 15px;
    color: white;
    background-color: #00C22B;
    text-align: center;
    border-radius: 5px;
}

.descricao{
    width: 45%;
    color: white;
    padding: 15px;
    margin-left: 10px;
}

.descricao h1{
    font-weight: 900;
    font-size: 45px;
}


.descricao p{
    margin-top: 20px;
    font-weight: 400;
    font-size: 22px;
    line-height: 2;
}